/* ---- reset ---- */
body {
    margin: 0;
    padding: 0;
    font-family: replay;
}

/* Font */
@font-face {
    font-family: replay;
    src: url('../assets/font/replay-webfont.woff2') format('woff2'),
         url('../assets/font/replay-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: nexa;
    src: url('../assets/font/nexa-webfont.woff2') format('woff2'),
         url('../assets/font/nexa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.soon {
    color: white;
    position: absolute;
    text-align: center;
    width: 100%;
    line-height: 0.25em;
}

/* ---- particles.js container ---- */
#particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    background-color: black;
}

#logo-tc {
    height: 25%;
    width: 25%;
    padding-bottom: 0%;
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

h1 {
    color: #FEBF2C;
    letter-spacing: 5px;
    font-size: 10vw;
    
}

h2 {
    color: #F7EB23;
    letter-spacing: 5px;
    font-size: 5vw;
    width: 100%;
}

/* Column */
.column {
    float: left;
    width: 50%;
}

@media (max-width:767px) {
    .column {
        width: 100%;
        margin-bottom: 0;
    }
}

/* Sosmed */
#sosmed a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#sosmed ul {
    margin-top: 13%;
    text-align: center;
    padding-left: 0;
}

#sosmed ul.social li {
    padding: 10px 0;
    margin-left: 70%;
}

#sosmed ul.social li a {
    font-size: 4vw;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#sosmed ul.social li:hover a {
    font-size: 5vw;
    margin-top: 10px;
}

#sosmed ul.social li a {
    color: #FEC32B;
}

#sosmed ul.social li a:hover {
    color: #F7EB23;
}
/* Sosmed Mobile */
@media (max-width:767px) {
    /* #sosmed{
        margin-bottom: 10%;
    } */
    #sosmed ul {
        padding-left: 0;
        bottom: 2%;
    }

    #sosmed ul.social li{
        display: inline;
        float: none;
        margin-left: 0;
        padding: 0 10px;
        
    }

    #sosmed ul.social li a {
        margin-top: 0px;
        /* font-size: 40px; */
    }

    #sosmed ul.social li:hover a {
        margin-top: 0px;
        /* font-size: 50px; */
    }

    #sosmed ul.social li a {
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
        margin-top: 0;
    }
}

/* Lomba */
img {
    height: auto;
    padding: 10px 0;
    max-width: 25%;
}

h3{
    color: #FBB12F;
    font-size: 50px;
    width: 100%;
    font-family: nexa;
}
@media (max-width:767px) {
    h3 {
        font-size: 20px;
        width: 100%;
    }
}

#lomba ul {
    margin-top: 13%;
    text-align: center;
    padding-left: 0;
}

#lomba ul.lomba-tc li {
    margin-right: 70%;
}

#lomba ul.lomba-tc li img {
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
    display: inline-block;
}

#lomba ul.lomba-tc li:hover img {
    margin-top: 10px;
    max-width: 30%;
    height: auto;
}

#lomba ul.social li img,
#lomba ul.quick-links li img {
    color: #FEBF2C;
}

#lomba ul.social li a:hover {
    color: #F7EB23;
}
/* Lomba Mobile */
@media (max-width:767px) {
    #lomba{
        margin-top: 45%;
    }
    #lomba ul {
        padding-left: 0;
        list-style-type: none;
    }

    #lomba ul.lomba-tc li {
        display: inline;
        float: none;
        margin-right: 0;
        padding: 0 10px;
    }

    #lomba ul.lomba-tc li:hover img {
        margin-top: 0px;
        /* height: 100px; */
        max-width: 20%;
    }

    #lomba ul.lomba-tc li img {
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
        /* margin-top: 40vw; */
        /* height: 90px; */
        max-width: 10%;
    }
}